/* main.css */

:root {
  --teacher-primary-bg: #e9a606;
  --text-color-dark: #333;
  --text-color-light: #fff;
  --content-panel-bg: url('https://subtlepatterns.com/patterns/creampaper.png');
  --hamburger-fg: var(--text-color-light);
  --hamburger-bg: var(--text-color-dark);
}

@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Lato', sans-serif;
}

.container {
  display: flex;
  height: 100%;
}

.admin-panel {
  width: 200px;
  background: var(--teacher-primary-bg);
  padding: 20px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.admin-panel-header {
  display: flex;
  justify-content: flex-end;
  /* background-color: aquamarine; */
}

.admin-links {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.admin-links li {
  margin-bottom: 20px;
}

.admin-links li a {
  text-decoration: none;
  color: var(--text-color-dark);
}

.admin-links i {
  margin-right: 4px;
}

.my-account {
  margin-top: auto;
}

.my-account a {
  display: block;
  color: var(--text-color-light);
  margin-bottom: 10px;
}

.content-panel {
  flex: 1;
  padding: 20px;
  background: var(--content-panel-bg);
}

.content-panel h1 {
  color: var(--text-color-dark);
}

/* interactivity */
.collapsed {
  width: 40px; /* todo: make calc burgerbox + padding */
  padding-left: 10px; 
  transition: width 0.25s ease-in-out, padding-left 0.3s ease-in-out;
}