:root {
  --teacher-primary-bg: #e9a606;
  --text-color-dark: #333;
  --text-color-light: #fff;
}

@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Lato', sans-serif;
}

.container {
  display: flex;
  height: 100%;
}

.admin-panel {
  width: 200px;
  background: var(--teacher-primary-bg);
  padding: 20px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.admin-panel-header {
  display: flex;
  justify-content: flex-end;
}

.admin-panel-header i {
  cursor: pointer;
  color: var(--text-color-light);
  font-size: 20px;
}

.admin-links {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.admin-links li {
  margin-bottom: 10px;
}

.admin-links li a {
  text-decoration: none;
  color: var(--text-color-dark);
}

.admin-links i {
  margin-right: 4px;
}

.my-account {
  margin-top: auto;
}

.my-account a {
  display: block;
  color: var(--text-color-light);
  margin-bottom: 10px;
}

.content-panel {
  flex: 1;
  padding: 20px;
}

.content-panel h1 {
  color: var(--text-color-dark);
}
