/* main.css */

:root {
  --teacher-primary-bg: #e9a606;
  --text-color-dark: #333;
  --text-color-light: #fff;
  --content-panel-bg: url('images/creampaper.png');
  --admin-panel-gap: 20px;
  --hamburger-fg: var(--text-color-light);
  --hamburger-bg: var(--text-color-dark);

  
  --collapsed-width: calc(
    2 * var(--hamburger-border) +
    var(--hamburger-box-size) +
    2 * var(--admin-panel-gap)
    );
}

@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

/* universal css reset */
* {
  padding: 0px;
  margin: 0px;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Lato', sans-serif;
}

.container {
  display: flex;
  height: 100%;
  z-index: 0;
}

.admin-panel {
  width: 200px;
  background: var(--teacher-primary-bg);
  grid-gap: var(--admin-panel-gap); /* gap between items */
  grid-template-rows: min-content auto; /* first row to fit content and remaining rows auto-adjust */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  /* z-index: 1; */
  transition: width 0.3s ease-in-out;
}

.admin-panel-header {
  display: flex;
  justify-content: flex-end;
  padding-inline-start: 0px;
  /* background-color: darkkhaki; */
  margin: 20px;
  /* z-index: 2; */
}

.admin-links {
  list-style-type: none;
  margin: 20px;
  /* background-color:burlywood; */
  /* z-index: 2; */
}

.admin-links li {
  /* margin-bottom: 20px; */
}

.admin-links li a {
  text-decoration: none;
  display: contents;
  color: var(--text-color-dark);
}

.admin-links i {
  margin-right: 4px;
  /* z-index: 3; */
}

.my-account {
  list-style-type: none;
  margin-top: auto;
  margin: 20px;
  /* background-color:burlywood; */
  position: absolute; 
  bottom: 0;
  /* z-index: 2; */
}

.my-account li a {
  margin-top: 20px;
  display: contents;
  color: var(--text-color-light);
}

.admin-links i::before,
.my-account i::before {
  display: flex;
  width: 30px;
  height: 30px;
  border: 2px solid;
  border-color: rgba(255, 174, 0, 0);
  background-color: rgba(255, 174, 0, 0);
  position: relative;
  justify-content: center;
  align-items: center;
  /* z-index: 0; */
}

.admin-links i:hover::before,
.my-account i:hover::before {
  /* background-color: rgba(255, 174, 0, 1); */
  border-color: rgba(255, 255, 255, 0.5);
  box-shadow: 0px 0px 30px rgb(255, 136, 0);
  transition: all .3s ease-in-out;
}

.content-panel {
  flex: 1;
  padding: 20px;
  background: var(--content-panel-bg);
}

.content-panel h1 {
  color: var(--text-color-dark);
}

/* collapsed modifications */
.collapsed {
  width: var(--collapsed-width);
  transition: width 0.3s ease-in-out, padding-left 0.3s ease-in-out;
}

/* todo: find alt method. this is hacky */
.collapsed .admin-links a.text,
.collapsed .my-account a.text {
  font-size: 0;
  line-height: 0;
  text-indent: -9999px;
  overflow: hidden;
}

.collapsed .admin-links a.text i,
.collapsed .my-account a.text i {
  font-size: 16px; /* todo: try bigger size */
  line-height: 1;
  text-indent: 0;
  overflow: visible;
}
